<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf課題</title>
</head>
<body>
    <h1 th:text="#{content.title1}"></h1>
    <h2 th:text="#{content.title2}"></h2>
    <p th:text="#{content.message}"></p>
    <p th:if="${param.previous}" th:text="#{content.imessage1}+${param.previous}+#{content.imessage2}"></p>
    <p th:unless="${param.previous}"></p>
    <form method="post" action="/confirm">
        <input type="text" name="val">
        <button th:text="#{content.submit}" type="submit"></button>
    </form>
</body>
</html>